- content_for :omniauth_providers_top do
  .gl-pt-5.gl-max-w-75
    %label.gl-font-weight-normal
      = _('Sign up for your free trial with:')
    .gl-display-flex.gl-gap-3
      - popular_enabled_button_based_providers.each do |provider|
        = button_to omniauth_authorize_path(:user, provider, register_omniauth_params(trial: true)),
          class: "btn gl-button btn-default gl-w-full gl-mb-4 js-oauth-login #{qa_selector_for_provider(provider)}",
          data: { provider: provider, track_action: "#{provider}_sso",
                  track_label: ::Onboarding::Status::TRACKING_LABEL[:trial] },
          id: "oauth-login-#{provider}" do
          - if provider_has_icon?(provider)
            = provider_image_tag(provider)
          %span.gl-button-text
            = label_for_provider(provider)
  .omniauth-divider.gl-display-flex.gl-align-items-center.gl-mb-5.gl-mt-5.gl-font-weight-bold.gl-max-w-75
    = _('Or create your own GitLab account:')

.row
  .col-md-8.gl-display-flex.gl-flex-direction-column.gl-pl-120
    %h1.gl-mt-0
      - upper_tag = tag.span(class: 'gl-font-size-h2-xl')
      - lower_tag = tag.span(class: 'gl-display-block')
      = safe_format(s_('InProductMarketing|%{upper_start}Start your 30-day free trial of%{upper_end} %{lower_start}GitLab Ultimate%{lower_end}'),
        tag_pair(upper_tag, :upper_start, :upper_end),
        tag_pair(lower_tag, :lower_start, :lower_end))

    .signup-box
      = render 'signup_box'

      .additional-links.gl-mt-6.gl-font-weight-bold
        = render 'devise/shared/sign_in_link', wrapper_class: ''

        %p
          = s_('InProductMarketing|Want to host GitLab on your servers?')
          = link_to s_('InProductMarketing|Start a Self-Managed trial'),
            'https://about.gitlab.com/free-trial/#selfmanaged/',
            data: { track_action: 'click_link', track_label: 'start_self-managed_trial' }

  .col-md-4.gl-lg-display-flex.gl-flex-direction-column.gl-mb-6.gl-align-items-center.gl-pr-8
    %div
      - ultimate_trial_value_props = [s_('InProductMarketing|Accelerate your digital transform'),
      s_('InProductMarketing|Deliver software faster'),
      s_('InProductMarketing|Ensure compliance'),
      s_('InProductMarketing|Built-in security'),
      s_('InProductMarketing|Improve collaboration and visibility')]

      %h2.gl-font-size-h2-xl= s_('InProductMarketing|No credit card required.')

      %ul.gl-pl-0.gl-mb-6.gl-pl-0.gl-mb-6x.gl-text-gray-800.check-mark-text
        - ultimate_trial_value_props.each do |value_prop|
          %li.gl-display-flex.gl-mb-5
            %span.gl-mr-3.gl-text-green-400= sprite_icon 'check', css_class: 'gl-icon check-marks'
            = value_prop
